*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;	
}

table th{
    border-bottom: 2px solid black;
    margin :0 auto;
    width: 10%;
}
table{
    text-align: center;
    font-size: 10px;
    margin-top: 80px;

}
.about h1{
	text-align: center;
}
.about1 h1{
	text-align: center;
}
.about1{
	margin-top: 50px;
}
.about{
	max-width: 1100px;
	margin-left: 10%;
	margin-top: 30px;
}
.about p{
	line-height: 26px;
}
.footer{
   padding: 20px; 
   background-color: #343a40; 
   color: ;
   text-align: center;
   display: flex;
   margin-top: 30px;
}
.footer i{
    color: green;
}
.footer li{
  color: white;
  list-style-type: none;
  padding-left: 40px;
  font-size: 12px;
}
.footer p{
  padding-left: 40px;
  font-size: 12px;
}

.search{
	margin-left: 20px; 
	width: 50%;
	border-radius: 7px;
}
img{
	height: 600px;
}
button{
	padding: 5px 5px 5px 5px;
	background: green;
	color: white;
}
button:hover{
	background:#05ae05;
}
body {
  background: #F0F8EA;
  font-family: 'Quicksand', 
  sans-serif;padding:4px;
}

.container {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  background: #fff;
  color: #000;
  padding: 1em 0;
  position: relative;
  height: 70px;
  width: 100%;
  box-shadow: 0 0 15px rgb(0,0,0,.10);
}

header::after {
  content: '';
  clear: both;
  display: block;
}

.logo {
  float: left;
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.logo span {
  font-weight: 400;
}

.site-nav {
  position: absolute;
  top: 100%;
  right: 0%;
  background: #464655;
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 700ms;
/*   display: none; */
}

.site-nav--open {
  clip-path: circle(250% at top right);
/*   display: block; */
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav li {
  border-bottom: 1px solid #575766;
}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  color: #000;
  display: block;
  font-size: 12px;
  padding: 2em 4em 2em 1.5em;
  text-transform: uppercase;
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
  background: #E4B363;
  color: skyblue;
}

.site-nav--icon {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: rgba(255,255,255,.4);
}

.menu-toggle {
  padding: 1em;
  position: absolute;
  top: .5em;
  right: .5em;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #EBEBD3;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

@media (min-width: 700px) {
  
  .menu-toggle {
    display: none;
  }
  
  .site-nav {
    height: auto;
    position: relative;
    background: transparent;
    float: right;
    clip-path: initial;
  }
  
  .site-nav li {
    display: inline-block;
    border: none;
  }
  
  .site-nav a {
    padding: 0;
    margin-left: 3em;
  }
  
  .site-nav a:hover,
  .site-nav a:focus {
    background: transparent;
  }
  
  .site-nav--icon {
    display: none;
  }
  
}